<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attendanceStatus">
<select id="selectOne" resultType="attendanceStatusDto">
		select * from attendance_status 
		where attendance_status_member_id = #{memberId}
	</select>

	<insert id="insert">
		insert into attendance_status(
			attendance_status_no, 
			attendance_status_member_id, 
			attendance_status_current, 
			attendance_status_max, 
			attendance_status_total
		) values (
			seq_attendance_status.nextval, 
			#{attendanceStatusMemberId}, 
			1, 1, 1
		)
	</insert>

	<update id="update">
		update attendance_status set 
			attendance_status_current = #{attendanceStatusCurrent},
			attendance_status_max = #{attendanceStatusMax},
			attendance_status_total = attendance_status_total + 1,
			attendance_status_lastdate = systimestamp
		where attendance_status_member_id = #{attendanceStatusMemberId}
	</update>
<delete id="delete">
		delete attendance_status 
		where attendance_status_member_id = #{memberId}
	</delete>
	
	

</mapper>