<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">

<!-- 등록 -->
<select id="sequence" resultType="int">
	select board_seq.nextval from dual
</select>


<insert id="insert">
	insert into board(
		board_no, board_title, board_writer, board_contents_id,
		board_text, board_notice
	)
	values(
		#{boardNo}, #{boardTitle}, #{boardWriter}, #{boardContentsId},
		#{boardText}, #{boardNotice}
	)
</insert>



<!-- 조회 -->
<!--
<select id="selectList" resultType="boardDto">
	select * from board order by board_no desc
</select>

<select id="selectListWithPage" resultType="boardDto">
	select * from (
		select rownum rn, TMP.* from(
			select * from board
			order by
			(case when board_notice = 'Y' then 0 else 1 end) asc,
				board_no desc
			) TMP
		) where rn between #{begin} and #{end}
</select>

<select id="countBoard" resultType="int">
	select count(*) from board
</select>
-->


<sql id="searchCondition">
	<where>
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test="column == 'title'">
					AND instr(board_title, #{keyword}) > 0
				</when>
				<when test="column == 'writer'">
					AND instr(board_writer, #{keyword}) > 0
				</when>
				<when test="column == 'contents'">
					AND board_contents_id IN (
						SELECT contents_id
						FROM contents
						WHERE contents_title LIKE '%' || #{keyword} || '%'
					)
				</when>
			</choose>
		</if>
	</where>
</sql>

<select id="selectList" resultType="boardDto">
	SELECT * FROM (
		SELECT rownum rn, TMP.* FROM (
			SELECT * FROM board
			<include refid="searchCondition"/>
			ORDER BY
				(CASE WHEN board_notice = 'Y' THEN 0 ELSE 1 END) ASC,
					board_no DESC
				) TMP
			) WHERE rn BETWEEN #{begin} AND #{end}
</select>

<select id="countBoard" resultType="int">
	SELECT count(*) FROM board
	<include refid="searchCondition"/>
</select>


<!-- 컨텐츠별 조회 -->
<select id="selectListByContents" resultType="boardDto">
select * from (
	select rownum rn, TMP.* from(
		select * from board where board_contents_id= #{boardContentsId}
		order by board_no desc
		) TMP
	) where rn between #{pageVO.begin} and #{pageVO.end}
</select>

<!-- 컨텐츠별게시판 카운트 -->
<select id="countContentsBoard" resultType="int">
	select count(*) from board
	where board_contents_id= #{boardContentsId}
</select>


<select id = "selectListBy5Contents" resultType="boardDto">
	select * from(
		select * from board where board_contents_id= #{boardContentsId}
		order by board_no desc
	) where rownum &lt;=5
</select>

<select id="selectViewCount" resultType="int">
	select board_view_count from board where board_no = #{boardNo}
</select>


<!-- 상세조회 -->

<select id="detail" resultType="boardDto">
	select * from board where board_no = #{boardNo}
</select>


<!-- 수정(Put) -->

<update id="update">
update board
	set
	board_title=#{boardTitle},
	board_contents_id = #{boardContentsId},
	board_notice = #{boardNotice},
	board_text = #{boardText},
	board_etime=systimestamp
where board_no=#{boardNo}
</update>


<update id="increaseViewCount">
	update board set board_view_count = board_view_count+1 where board_no = #{boardNo}
</update>


<!-- 삭제 -->
<delete id="delete">
	delete board where board_no = #{boardNo}
</delete>


<!-- 첨부파일 기능 -->

<insert id="connect">
	insert into board_attachment(board_no, attachment_no)
	values(#{boardNo}, #{attachmentNo})
</insert>

<select id="findAttachment" resultType="int">
	select attachment_no from board_attachment where board_no = #{boardNo}
</select>

</mapper>