<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="heart">
	<insert id="createHeartWallet">
    	insert into heart (
        	member_id, 
        	heart_count, 
        	heart_last_refill_date,
        	heart_max
    	)
    	values (
        	#{memberId}, 
        	5, 
        	TO_CHAR(systimestamp, 'YYYYMMDD'),
        	5
    	)
	</insert>
	
	<select id="selectHeart" resultType="HeartDto">
		select * from heart
		where member_id = #{memberId}
	</select>
	
	<update id="increaseHeart">
        update heart
        set heart_count = heart_count + #{amount}
        where member_id = #{memberId}
    </update>

	<update id="decreaseHeart">
        update heart
        set heart_count = heart_count - 1
        where member_id = #{memberId} and heart_count > 0
    </update>
    
    <update id="dailyRefill">
        update heart
        set heart_count = heart_max, 
            heart_last_refill_date = TO_CHAR(systimestamp, 'YYYYMMDD')
        where member_id = #{memberId}
       	<![CDATA[
       	and heart_count < heart_max
       	]]>
    </update>
    
    <update id="updateRefillDateOnly">
    update heart
    set heart_last_refill_date = TO_CHAR(systimestamp, 'YYYYMMDD')
    where member_id = #{memberId}
	</update>
</mapper>