<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 등록 -->
	<insert id="insert">
		insert into member(
			member_id, member_pw, member_nickname,
			member_email, member_birth, member_contact,
			member_post, member_address1, member_address2
		)
		values(
			#{memberId},#{memberPw},#{memberNickname},
			#{memberEmail}, #{memberBirth},#{memberContact},
			#{memberPost}, #{memberAddress1}, #{memberAddress2}
		)
	</insert>
	
	<!-- 조회 -->
	<select id="selectList" resultType="memberDto">
		select * from member order by member_join desc
	</select>
	
	<!-- 관리자 제외하고 조회 + 페이지네이션 -->
	<select id="selectListExceptAdmin" resultType="memberDto">
		select * from (
		select rownum rn, TMP.* from(
			select * from member 
			where member_level != '관리자'
			order by member_join desc
		) TMP
		) where rn between #{begin} and #{end}
	</select>
	<select id="countMember" resultType="int">
	    select count(*) from board
	</select>
	
	<!-- 검색 (관리자 제외)-->
	<select id="selectAdminList" parameterType="map" resultType="MemberDto">
				select * from (
		select rownum rn, TMP.* from(
		select * from member
		<where>
			member_level != '관리자'
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="type == 'memberId'">
						and member_id LIKE '%' || #{keyword} || '%'
					</when>
					
					<when test="type == 'memberNickname'">
						and member_nickname LIKE '%' || #{keyword} || '%'
					</when>
					
					<when test="type == 'memberLevel'">
						and member_level = #{keyword}
					</when>
				</choose>
			</if>
		</where>
		order by member_join desc
				) TMP
		) where rn between #{pageVO.begin} and #{pageVO.end}
	</select>
	<select id="countSearchMember" resultType="int">
	    select count(*) from member
    	<where>
    		member_level != '관리자'
			<if test="keyword != null and keyword != ''">
				<choose>
					<when test="type == 'memberId'">
						and member_id LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'memberNickname'">
						and member_nickname LIKE '%' || #{keyword} || '%'
					</when>
					<when test="type == 'memberLevel'">
						and member_level = #{keyword}
					</when>
				</choose>
			</if>
		</where>
	</select>
	
	<!-- 상세조회 -->
	<select id="detail" resultType="memberDto">
		select * from member where member_id = #{memberId}
	</select> 
	
	<!-- 상세조회 by 닉네임 -->
	<select id="detailByNickname" resultType="memberDto">
		select * from member where member_nickname = #{memberNickname}
	</select> 
	
	<!-- 수정(Put) -->
	<update id="update">
		update member
		set member_email=#{memberEmail},
			member_birth=#{memberBirth},
			member_contact=#{memberContact},
			member_post=#{memberPost},
			member_address1=#{memberAddress1},
			member_address2=#{memberAddress2}
		where member_id=#{memberId}
	</update>
	
	<update id="updatePassword">
		update member
		set member_pw=#{memberPw}
		where member_id=#{memberId}
	</update>
	
	
	<update id="updateNickname">
		update member
		set member_nickname=#{memberNickname}
		where member_id=#{memberId}
	</update>
	
	<update id="updatePoint">
		update member
		set member_point=#{memberPoint}
		where member_id=#{memberId}
	</update>
	
	<update id="updateReliability">
		update member
		set member_reliability = member_reliability + #{rel}
		where member_id=#{memberId}
	</update>
	
	<!-- 좋아요 신뢰도 구문 -->
	<update id="updateReliabilitySet">
		update member
		set member_reliability = #{rel} <!-- 기존 값 무시하고 덮어씀 -->
		where member_id=#{memberId}
	</update>
	
	<update id="deleteReliability">
		update member
		set member_reliability = member_reliability - #{rel}
		where member_id = #{memberId}
	</update>
	
	<update id="updateMemberLevel">
		update member
		set member_level = #{memberLevel}
		where member_id = #{memberId}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete member where member_id = #{memberId}
	</delete>
	<update id="updateMemberIcon">
        UPDATE MEMBER SET MEMBER_ICON_NO = #{iconId} WHERE MEMBER_ID = #{memberId}
    </update>

    <update id="deleteMemberIcon">
        UPDATE MEMBER SET MEMBER_ICON_NO = NULL WHERE MEMBER_ID = #{memberId}
    </update>
    
<select id="selectMap" resultType="MemberDto">
    SELECT 
        MEMBER_ID as memberId,
        MEMBER_PW as memberPw,
        MEMBER_NICKNAME as memberNickname,
        MEMBER_EMAIL as memberEmail,
        MEMBER_CONTACT as memberContact,
        MEMBER_BIRTH as memberBirth,
        MEMBER_POST as memberPost,
        MEMBER_ADDRESS1 as memberAddress1,
        MEMBER_ADDRESS2 as memberAddress2,
        MEMBER_LEVEL as memberLevel,
        MEMBER_POINT as memberPoint,
        MEMBER_JOIN as memberJoin
        FROM MEMBER
    WHERE MEMBER_ID = #{memberId}
</select>

<update id="upPoint">
    UPDATE member
    SET member_point = member_point + #{memberPoint}
    WHERE member_id = #{memberId}
</update>
	
<select id="countTotalRanking" resultType="int">
        SELECT COUNT(*) 
        FROM member
        WHERE member_level != '관리자'
        <if test="keyword != null and keyword != ''">
            AND member_nickname LIKE '%' || #{keyword} || '%'
        </if>
    </select>

    <select id="totalPointRanking" resultType="PointRankingVO">
        SELECT * FROM (
            SELECT TMP.*, ROWNUM AS rn FROM (
                SELECT 
                    member_id AS "memberId", 
                    member_nickname AS "nickname", 
                    member_point AS "point", 
                    member_level AS "level",
                    RANK() OVER (ORDER BY member_point DESC) AS "ranking"
                FROM member
                WHERE member_level != '관리자'
                <if test="keyword != null and keyword != ''">
                    AND member_nickname LIKE '%' || #{keyword} || '%'
                </if>
                ORDER BY "ranking" ASC
            ) TMP
        )
        WHERE rn BETWEEN #{start} AND #{end}
    </select>


</mapper>
