<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberReview">

	<!-- 상세조회 -->
	<select id="selectList" resultType="MemberReviewListVO">
		select * from member_review_list
		where review_writer = #{loginId}
	</select>
  <select id="countReview" resultType="int">
    select count(*) from member_review_list
    where review_writer = #{loginId}
</select>
</mapper>