<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="pointitemstore">

    <insert id="insert">
        INSERT INTO POINT_ITEM_STORE(  
            point_item_no, 
            point_item_name, 
            point_item_type, 
            point_item_content, 
            point_item_price, 
            point_item_stock,
            point_item_src,
            point_item_req_level,
            POINT_ITEM_IS_LIMITED_PURCHASE,
            POINT_ITEM_DAILY_LIMIT  )
        VALUES(
            seq_point_item.nextval, 
            #{pointItemName}, 
            #{pointItemType}, 
            #{pointItemContent},
            #{pointItemPrice}, 
            #{pointItemStock},
            #{pointItemSrc},
            #{pointItemReqLevel},
            #{pointItemIsLimitedPurchase},
            #{pointItemDailyLimit}  )
    </insert>
  
    <update id="update">
        UPDATE POINT_ITEM_STORE
        SET
            point_item_name = #{pointItemName},
            point_item_type = #{pointItemType},     
            point_item_content = #{pointItemContent},
            point_item_price = #{pointItemPrice},   
            point_item_stock = #{pointItemStock},
            point_item_src = #{pointItemSrc},
            point_item_req_level = #{pointItemReqLevel},
            POINT_ITEM_IS_LIMITED_PURCHASE = #{pointItemIsLimitedPurchase},
            POINT_ITEM_DAILY_LIMIT = #{pointItemDailyLimit} WHERE
            point_item_no = #{pointItemNo}
    </update>
  
    <select id="selectList" resultType="PointItemStoreDto">
        SELECT 
            point_item_no as pointItemNo,
            point_item_name as pointItemName,
            point_item_type as pointItemType,
            point_item_content as pointItemContent,
            point_item_price as pointItemPrice,
            point_item_stock as pointItemStock,
            point_item_src as pointItemSrc,
            point_item_reg_date as pointItemRegDate,
            point_item_req_level as pointItemReqLevel,
            POINT_ITEM_IS_LIMITED_PURCHASE as pointItemIsLimitedPurchase,
            POINT_ITEM_DAILY_LIMIT as pointItemDailyLimit FROM POINT_ITEM_STORE
        ORDER BY point_item_no DESC
    </select>
  	
    <select id="selectOneNumber" resultType="PointItemStoreDto">
        SELECT 
            point_item_no as pointItemNo,
            point_item_name as pointItemName,
            point_item_type as pointItemType,
            point_item_content as pointItemContent,
            point_item_price as pointItemPrice,
            point_item_stock as pointItemStock,
            point_item_src as pointItemSrc,
            point_item_reg_date as pointItemRegDate,
            point_item_req_level as pointItemReqLevel,
            POINT_ITEM_IS_LIMITED_PURCHASE as pointItemIsLimitedPurchase,
            POINT_ITEM_DAILY_LIMIT as pointItemDailyLimit FROM POINT_ITEM_STORE
        WHERE point_item_no = #{itemNo}
    </select>
    
    <delete id="delete">
        DELETE FROM POINT_ITEM_STORE
        WHERE point_item_no = #{pointItemNo}
    </delete>
    
</mapper>