<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="quiz">
	
	<!-- 퀴즈 등록 -->
	<select id="sequence" resultType="long">
		select quiz_seq.nextval from dual
	</select>
	
	<insert id="insert">
		insert into quiz
		(
		quiz_id, quiz_contents_id, quiz_creator_id,
		quiz_question, quiz_question_type,
		quiz_question_option1, quiz_question_option2, 
		quiz_question_option3, quiz_question_option4, 
		quiz_answer
		)
		values
		(
		#{quizId},#{quizContentsId},#{quizCreatorId},
		#{quizQuestion},#{quizQuestionType},
		#{quizQuestionOption1},#{quizQuestionOption2},
		#{quizQuestionOption3},#{quizQuestionOption4},
		#{quizAnswer}
		)
	</insert>
	
	<!-- 퀴즈를 풀기 위한 조회 구문 -->
	<select id="selectRandomQuizList" resultType="QuizDto">
		<![CDATA[
		select * from (
			select Q.* from quiz Q
			where Q.quiz_contents_id = #{quizContentsId}
			and Q.quiz_status = 'ACTIVE' -- 삭제되거나 블라인드 처리된 퀴즈는 안나오게
			and Q.quiz_id not in (
				select L.quiz_log_quiz_id
				from quiz_log L
				where L.quiz_log_member_id = #{quizLogMemberId}
				and L.quiz_log_is_correct = 'Y' -- 오답도 다시 풀기 가능
			)
			order by DBMS_RANDOM.VALUE -- 오라클 랜덤 정렬
		)
		where rownum <= 5
		]]>
	</select>
	
	<!-- 퀴즈 수정을 위한 조회 구문 -->
	<select id="detail" resultType="QuizDto">
		select * from quiz where quiz_id = #{quizId}
	</select>
	
	<!-- 해당 영화의 퀴즈 목록 조회 구문 -->
	<select id="selectByContent" resultType="QuizDto">
		select * from quiz
		where quiz_contents_id = #{quizContentsId}
	</select>
	
	
	<!-- 퀴즈 수정(PATCH) -->
	<update id="update">
		update quiz
		<!-- 수정할 항목이 불확실할 경우 사용하여 mybatis가 자동으로 처리하도록 처리 --> 
		<set>
			<if test="quizQuestion != null">
				quiz_question=#{quizQuestion},
			</if>
			<if test="quizQuestionType != null">
				quiz_question_type=#{quizQuestionType},
			</if>
			<if test="quizQuestionOption1 != null">
				quiz_question_option1=#{quizQuestionOption1},
			</if>
			<if test="quizQuestionOption2 != null">
				quiz_question_option2=#{quizQuestionOption2},
			</if>
			<if test="quizQuestionOption3 != null">
				quiz_question_option3=#{quizQuestionOption3},
			</if>
			<if test="quizQuestionOption4 != null">
				quiz_question_option4=#{quizQuestionOption4},
			</if>
			<if test="quizAnswer != null">
				quiz_answer=#{quizAnswer},
			</if>
			
			quiz_updated_at = systimestamp
		</set>
		where quiz_id=#{quizId}
	</update>
	
	<!-- 관리자 상태 변경 메소드(BLIND, DELETED) -->
	<update id="updateQuizStatus">
    	update quiz
    	set
        	quiz_status = #{quizStatus},
        	quiz_updated_at = systimestamp
    	where quiz_id = #{quizId}
	</update>
	
	<!-- 신고 누적 횟수 변경 -->
	<update id="updateQuizReportCount">
    	update quiz
    	set
        	quiz_report_count = quiz_report_count + 1
    	where quiz_id = #{quizId}
	</update>
</mapper>