<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">

	<select id="sequence" resultType="int">
		select reply_seq.nextval from dual
	</select>
	
	<insert id="insert">
		insert into reply(
			reply_no, reply_writer, 
			reply_target, reply_content
		)
		values(
			#{replyNo}, #{replyWriter},
			#{replyTarget}, #{replyContent}
		)
	</insert>
	
	<update id="update">
		update reply
			set
				reply_content = #{replyContent},
				reply_etime = systimestamp
			where reply_no = #{replyNo}
	</update>
	
	<delete id="delete">
		delete reply where reply_no = #{replyNo}
	</delete>

	<select id="selectByBoardNo" resultType="ReplyDto">
		select * from reply where reply_target = #{replyTarget} 
		order by reply_no asc
	</select>
	<select id="selectByWriter" resultType="ReplyDto">
		select * from reply where reply_writer = #{replyWriter} 
		order by reply_no asc
	</select>
	
	<select id="selectOne" resultType="ReplyDto">
		select * from reply where reply_no = #{replyNo}
	</select>
	
	<update id="updateBoardReplyCount">
		update board set board_reply_count = (
				select count(*) from reply where reply_target = #{boardNo}
		)	where board_no = #{boardNo}
	</update>
</mapper>