<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reviewReport">

	<insert id="insertReviewReport" parameterType="ReviewReportDto">
		insert into review_report(
			review_report_id,
			review_report_member_id,
			review_report_review_id,
			review_report_type,
			review_report_content
		) values(
			seq_review_report.nextval,
			#{reviewReportMemberId},
			#{reviewReportReviewId},
			#{reviewReportType},
			#{reviewReportContent} )
	</insert>

	<!-- 전체 리뷰 신고 조회 -->
	<select id = "selectList" resultType="ReviewReportListVO">
		select * from review_report_list
		order by review_report_date desc
	</select>
	
	<!-- 개별 리뷰신고 조회(확인용) -->
	<select id= "selectOne" resultType="ReviewReportDto">
		select * from review_report
		where review_report_id = #{reviewReportId}
	</select>

	<!-- 신고 내역 삭제 -->
	<delete id="delete">
		delete from review_report
		where review_report_id = #{reviewReportId}
	</delete>
	
		<!-- 신고 유형 별 횟수 -->
    <select id="countByType" resultType="map">
        select review_report_type, count(*) as count
        from review_report
        where review_report_review_id = #{reviewReportReviewId}
        group by review_report_type
    </select>
	

	


</mapper>