<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">

	<!-- 등록 -->
	<insert id="insert">
		insert into review(
			review_no, review_contents, review_writer, review_rating,
			review_spoiler, review_text, review_like,
            review_realiability, review_price
		)
		values(
			review_seq.nextval, #{reviewContents}, #{reviewWriter}, #{reviewRating},
			 #{reviewSpoiler}, #{reviewText}, 0, 0, #{reviewPrice}
		)
	</insert>
	
	<!-- 전체 조회 -->
	<select id="selectList" resultType="ReviewDto">
		select * from review where review_contents = #{reviewContents} order by review_no desc
	</select>

	<!-- 내리뷰 조회 -->
	<select id="selectByUserAndContents" resultType="ReviewVO">
		select A.*,  B.member_nickname, B.member_reliability 
		from review A join member B on A.review_writer = B.member_id 
		where review_writer = #{loginId} and review_contents = #{reviewContents}
	</select>
	
	<!-- 단일(상세)조회 테스트 -->
	<select id="selectOne" resultType="ReviewVO">
		select A.*, B.member_nickname, B.member_reliability 
		from review A join member B on A.review_writer = B.member_id 
		where review_contents = #{reviewContents} and review_no = #{reviewNo}
	</select>
	
	
	
	<!-- 컨텐츠 아이디로 조회 -->
	<select id="selectListByContentsId" resultType="ReviewVO">
		select A.*, B.member_nickname, B.member_reliability 
		from review A join member B on A.review_writer = B.member_id 
		where review_contents = #{reviewContents} order by review_wtime desc
	</select>
	
	
	<!-- 수정 -->
	<update id="updateUnit"> 
		update review 
		<set>
			review_etime = sysdate,
			<if test="reviewRating != null">
				review_rating = #{reviewRating},
			</if>
			<if test="reviewSpoiler != null">
				review_spoiler = #{reviewSpoiler},
			</if>
			<if test="reviewText != null">
				review_text = #{reviewText},
			</if>
			<if test="reviewPrice != null">
				review_price = #{reviewPrice},
			</if>
		</set>
		where
		review_contents = #{reviewContents} and
		review_no = #{reviewNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete review where
		review_contents = #{reviewContents} and
		review_no = #{reviewNo}
	</delete>
	
	<!-- 리뷰 쓴사람 조회 -->
	<select id="findWriterByReviewNo" resultType="String">
		select review_writer from review where review_no = ${reviewNo}
	</select>
	
	<!-- 리뷰 개수 조회 (좋아요 신뢰도 분리) -->
	<select id="countReviewByWriter" resultType="int">
		select count(*) from review where review_writer = #{writer}
	</select>

	<!-- 좋아요 관련 -->
	<update id="updateReviewLike">
		update review set review_like = (
				select count(*) from review_like where review_no = #{reviewNo}
		)	where review_no = #{reviewNo}
	</update>
	
	<update id="updateReviewReviewLike">
		update review set review_like = #{count} where review_no = #{reviewNo}
	</update>

	
</mapper>