<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace = "watchlist">

	<!-- 등록 -->
	<insert id="insert" parameterType="WatchlistDto">
		insert into watchlist(
			watchlist_content, watchlist_member, watchlist_type
		)
		values(
			#{watchlistContent},#{watchlistMember},#{watchlistType})
	</insert>
	
	<!-- 삭제 -->
    <delete id="delete">
    	delete watchlist
    	where watchlist_content=#{watchlistContent}
			and watchlist_member=#{watchlistMember}
    </delete>
    
   	<!-- 조회(확인용) : 찜목록 확인용-->
   	<select id="check" resultType="int"  parameterType="WatchlistDto">
   		select count(*) from watchlist
   		where watchlist_content=#{watchlistContent}
			and watchlist_member=#{watchlistMember}
   	</select>
   	
   	<!-- 수정(TYPE 수정용)-->
   	<update id="update" parameterType="WatchlistChangeTypeVO">
   		update watchlist
   		set watchlist_type = #{watchlistType}
   		where watchlist_content=#{watchlistContent}
			and watchlist_member=#{watchlistMember}
   	</update>
   	
   	

 	
 </mapper>